body {
  background-color: #000010;
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}

a{
  text-decoration-line:none;
  color:#000000;
}
a:visited{
  text-decoration-line:none;
  color:#000000;
}



.linklogo{
  z-index: 10;
  position:fixed;
  bottom:10pt;
}

.github{
  right:5pt;
}

#githublogo{
  height:15pt;
  opacity:0.4;
}





.banner{
  width:50vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.verticalhorizontal {
    z-index: 0;
    position:fixed;
    display:table-cell;
    height: 100vh;
    text-align: center;
    width: 100vw;
    vertical-align: middle;
}

.hellocontainer {
    position: fixed;
    z-index: 0;
    height: 0;
    text-align: center;
    width: 100vw;
    top:30vh;
}

#hello{
  position: relative;
  width:25%;
  transform: translate(0%, -50%);
}

.bar{
  z-index: 10;
  position: fixed;
  width:100vw;
  background-color: #eeeeff;
  opacity: 0.9;
  height:5pt;
}

.bottombar{
  bottom:0;
}

.topbar{
  top:0;
}

#menu{
  position: relative;
  z-index: 10;
  opacity: 0.9;
  top:5pt;
  width:100vw;
  height:0;
  background-color:#eeeeff;
  overflow: hidden;
  padding-left: 5pt;
  padding-right: 5pt;
}

.chevronbox{
    z-index: 10;
    padding:0;
    margin:0;
    position: relative;
    top:5pt;
    width:100vw;
    text-align:center;
}


#chevron{
	border-style: solid;
  border-color: #eeeeff;
	border-width: 0.45em 0.45em 0 0;
	content: '';
	display: inline-block;
	height: 0.8em;
  width: 0.8em;
  position: relative;
	transform: rotate(135deg);
	vertical-align: top;
  left: auto;
  right: auto;
  padding:0;
  margin:0;
  transition: border-color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in;
  -webkit-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  cursor: pointer;
}

#chevron:hover{
  border-color: #aaaacc;
}

@-webkit-keyframes fadeout {
    0% {opacity:1.0;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1.0;}
    100% {opacity:0;}
}
.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 10s ease-out;
  -webkit-animation: fadeout 10s ease-out;
  animation        : fadeout 10s ease-out;
}

.menubutton{
  float: left;
  display: table-cell;
  width: 50pt;
  height:25pt;
  margin: 0;
  text-align: center;
  background-color: #aaaacc;
  line-height: 25pt;
  font-family: arial, sans-serif;
  cursor: pointer;
  user-select: none;
  font-size: 12pt;
}

.menubutton:hover{
  background-color:#ccccdd;
}

.selected{
  background-color:#eeeeff;
}

.right{
  position: relative;
  float:right;
  margin-right:10pt;
  width:70pt;
  background-color: #eeeeff;
}
.spacer{
  position: relative;
  float:right;
  width:0;
  height:30pt;
}
